# OS
.DS_Store
Thumbs.db

# Editors and IDEs
.idea/
.vscode/
*.iml
*.ipr
*.iws

# Logs and temp files
*.log
*.tmp
*.swp

# Python
**/__pycache__/
**/*.pyc
**/*.pyo
**/.pytest_cache/

# Android / Gradle
**/.gradle/
**/build/
**/captures/
**/.externalNativeBuild/
**/.cxx/
**/local.properties
**/*.apk
**/*.aab

# Flutter / Dart
**/.dart_tool/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.pub-cache/
**/.pub/
**/coverage/
**/ios/Flutter/.last_build_id
**/Flutter/ephemeral/
**/Flutter/flutter_export_environment.sh
**/Flutter/Generated.xcconfig

# Chaquopy / packaged binaries and local libs
**/*.so
**/*.aar
